@{
    ViewData["Title"] = ViewData["Title"] ?? "Portal";
    ViewData["Subtitle"] = ViewData["Subtitle"] ?? "";
}

@using Microsoft.Extensions.Options
@using TurkSoft.GIBWebUI.AppSettings
@inject IOptions<ApiSettings> ApiSettings

<!DOCTYPE html>
<html lang="tr" class="sidebar-mini skin-red" style="height:auto; min-height:100%;">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="api-base" content="@ApiSettings.Value.BaseUrl" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <script>
        // Fallback: JS tarafından API base URL erişimi
        window.__API_BASE = "@ApiSettings.Value.BaseUrl";
        console.log("API Base (Layout):", window.__API_BASE);
    </script>
    <script>
        window.gibPortalApiBaseUrl = '@ApiSettings.Value.GibPortalApiBaseUrl';
    </script>
    <title>@ViewData["Title"] - Nox Yazılım</title>

    <!-- Inline essentials carried over from the uploaded HTML (spinner/overlay resets) -->
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        #overlay, #overlayManuel {
            position: fixed;
            top: 0;
            z-index: 100;
            width: 100%;
            height: 100%;
            display: none;
            background: rgba(0,0,0,0.6);
        }

        .cv-spinner {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .spinner {
            width: 40px;
            height: 40px;
            border: 4px #ddd solid;
            border-top: 4px #2e93e6 solid;
            border-radius: 50%;
            animation: sp-anime 0.8s infinite linear;
        }

        .is-hide {
            display: none;
        }
    </style>

    <!-- Temel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.18/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.18/css/skins/_all-skins.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Ekstra CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.1/css/daterangepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.min.css" />
    <link rel="stylesheet" href="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.10.8/sweetalert2.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.1.6/footable.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <link href="~/css/noxcss.css" rel="stylesheet" />
</head>

<body id="MainBody" class="sidebar-mini skin-red" style="height:auto; min-height:100%;">
    @RenderSection("Styles", required: false)

    <!-- Manual overlay/spinner -->
    <div id="overlayManuel">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>

    <div class="wrapper" style="height:auto; min-height:100%;">
        <header class="main-header" id="mainHeader">
            <!-- Logo -->
            <a href="/Home/Index" id="mainLogo" class="logo">
                <span class="logo-mini"><img id="mainOne" src="~/login/images/Nox Müsavirim Portal-01.png" alt="Nox Yazılım mini logo" /></span>
                <span class="logo-lg"><img id="maintwo" src="~/login/images/Nox Müsavirim Portal-01.png" alt="Nox Yazılım logo" /></span>
            </a>
            <!-- Navbar -->
            <nav class="navbar navbar-static-top">
                <a href="#" id="menuackapat" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Menü Aç / Kapat</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Notifications (hidden default) -->
                        <li class="dropdown notifications-menu hidden" id="bell">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning hidden" id="bellgreen"><span id="notCount"></span></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><ul class="menu" id="notMenu"></ul></li>
                                <li class="footer"><a href="/AdminPanel/Notifications">Tümü</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown" id="downloadRequestButton">
                            <a href="#" target="_blank" title="Yardımcı Videolar">Yardımcı Videolar</a>
                        </li>

                        <li class="dropdown messages-menu">
                            <a href="#" onclick="messageModal()">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-danger"></span>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="#" onclick="downloadTopluExcelModal()" data-toggle="tooltip" rel="tooltip" title="Bekleyen İndirmeler" id="downloadRequests">
                                <i class="fa fa-download"></i>
                            </a>
                        </li>

                        <!-- Theme chooser -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-eye"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">Tema Seçiniz</li>
                                <li>
                                    <ul class="menu">
                                        <li><a href="javascript:cT('blue-light');"><h3>Blue-Light</h3><div class="progress xs"><div class="progress-bar progress-bar-blue pull-right" style="width:75%"></div></div></a></li>
                                        <li><a href="javascript:cT('blue');"><h3>Blue</h3><div class="progress xs"><div class="progress-bar progress-bar-blue pull-right" style="width:100%"></div></div></a></li>
                                        <li><a href="javascript:cT('green-light');"><h3>Green-Light</h3><div class="progress xs"><div class="progress-bar progress-bar-green pull-right" style="width:75%"></div></div></a></li>
                                        <li><a href="javascript:cT('green');"><h3>Green</h3><div class="progress xs"><div class="progress-bar progress-bar-green pull-right" style="width:100%"></div></div></a></li>
                                        <li><a href="javascript:cT('yellow-light');"><h3>Yellow-Light</h3><div class="progress xs"><div class="progress-bar progress-bar-yellow pull-right" style="width:75%"></div></div></a></li>
                                        <li><a href="javascript:cT('yellow');"><h3>Yellow</h3><div class="progress xs"><div class="progress-bar progress-bar-yellow pull-right" style="width:100%"></div></div></a></li>
                                        <li><a href="javascript:cT('red-light');"><h3>Red-Light</h3><div class="progress xs"><div class="progress-bar progress-bar-red pull-right" style="width:75%"></div></div></a></li>
                                        <li><a href="javascript:cT('red');"><h3>Red</h3><div class="progress xs"><div class="progress-bar progress-bar-red pull-right" style="width:100%"></div></div></a></li>
                                    </ul>
                                </li>
                                <li class="footer"><span></span></li>
                            </ul>
                        </li>

                        <!-- User -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img id="mainfour" src="~/login/images/Nox Müsavirim Portal-06.png" class="user-image" alt="Kullanıcı" />
                                <span id="sirketname" class="hidden-xs"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header skin-red">
                                    <img id="maintree" src="~/login/images/Nox Müsavirim Portal-06.png" class="img-circle" alt="Kullanıcı" />
                                    <br />
                                    <p>
                                        @ViewBag.VknTckn
                                        <small>Son Giriş:@ViewBag.LastLogin</small>
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="col-lg-pull-4 col-xs-pull-4">
                                        <a href="#" id="firmaBilgileri" class="btn btn-default btn-flat logbt">Firma<br />Bilgileri</a>
                                    </div>
                                    <div class="col-lg-pull-4 col-xs-pull-4">
                                        <a id="btn_firmaiDegis" href="#" class="btn btn-default btn-flat logbt">Firma<br />Değiştir</a>
                                    </div>
                                    <div class="col-lg-pull-4 col-xs-pull-4">
                                        <a id="btn_cikis" href="/Login/index" class="btn btn-default btn-flat logbt">Oturumu<br />Kapat</a>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>

        <!-- Sidebar -->
        @await Html.PartialAsync("_Sidebar")

        <!-- Content Wrapper -->
        <div class="content-wrapper" style="min-height:calc(100vh - 50px);">
            <section class="content-header">
                <h1>@ViewData["Title"] <small>@ViewData["Subtitle"]</small></h1>
                <ol class="breadcrumb" id="breadcrumb">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i></a> @ViewData["Title"]</li>
                    <li class="active">@ViewData["Title"]</li>
                </ol>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
    </div>

    <!-- Global Modals -->
    @await Html.PartialAsync("_Modals")

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.18/js/adminlte.min.js"></script>

    <!-- Ekstra JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.1.6/footable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.tr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.1/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.16/jstree.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.10.8/sweetalert2.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap.min.js"></script>
    <script src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-checkbox/1.5.0/js/bootstrap-checkbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

    <script src="~/login/js/home.js"></script>

    <!-- Sidebar aktif / açık menü scripti (mevcut kodun) -->
    <script>
        (function ($) {
            'use strict';

            function activateSidebarMenu() {
                var currentPath = window.location.pathname.toLowerCase();
                var bestMatch = null;

                // Tüm menü linklerini tara
                $('#mainMenuSidebar .sidebar-menu a').each(function () {
                    var href = $(this).attr('href');

                    if (!href ||
                        href === '#' ||
                        href === '' ||
                        href.toLowerCase().indexOf('javascript:') === 0) {
                        return;
                    }

                    var linkPath;
                    try {
                        // anchor elementinden gerçek path'i al
                        linkPath = this.pathname
                            ? this.pathname.toLowerCase()
                            : $('<a>').attr('href', href)[0].pathname.toLowerCase();
                    } catch (e) {
                        return;
                    }

                    if (!linkPath) return;

                    // En iyi eşleşen (en uzun path) linki bul
                    if (currentPath === linkPath || currentPath.indexOf(linkPath + '/') === 0) {
                        if (!bestMatch || linkPath.length > bestMatch.len) {
                            bestMatch = {
                                elem: this,
                                len: linkPath.length
                            };
                        }
                    }
                });

                if (bestMatch && bestMatch.elem) {
                    var $li = $(bestMatch.elem).closest('li');

                    // Asıl satırı aktif yap
                    $li.addClass('active');

                    // Tüm üst treeview'ları aktif ve açık yap (e-Fatura, Yeni Fatura, e-Arşiv, vs.)
                    $li.parents('li.treeview').addClass('active menu-open');
                }

                // Herhangi bir aktif alt elemanı olan treeview'lar açık kalsın
                $('#mainMenuSidebar li.treeview').each(function () {
                    if ($(this).find('> ul.treeview-menu li.active').length > 0 ||
                        $(this).find('> ul.treeview-menu li.treeview.active').length > 0) {
                        $(this).addClass('active menu-open');
                    }
                });
            }

            $(function () {
                activateSidebarMenu();
            });
        })(jQuery);
    </script>

    <!-- ✅ DÜZENLEME: Admin / Bayi için Kullanıcı & Firma Tanımları menüsünü açan script -->
    <script>
        (function () {
            'use strict';

            // Login.js'teki STORAGE yapısına paralel: ts.auth ve ts.auth.backup + meta fallback
            function readSession() {
                var raw = null;

                try {
                    raw = sessionStorage.getItem('ts.auth');
                } catch (e) { }

                if (!raw) {
                    try {
                        raw = localStorage.getItem('ts.auth.backup');
                    } catch (e) { }
                }

                if (!raw) {
                    try {
                        var meta = document.querySelector('meta[name="ts-session"]');
                        if (meta && meta.content) {
                            raw = meta.content;
                        }
                    } catch (e) { }
                }

                if (!raw) return null;

                try {
                    return JSON.parse(raw);
                } catch (e) {
                    console.error('Session parse hatası:', e);
                    return null;
                }
            }

            function setupUserFirmMenu() {
                var menuEl = document.getElementById('userFirmMenu');
                if (!menuEl) {
                    return;
                }

                // 1) Önce numeric rol kontrolü (UserRolId / UserRoleId)
                var numericRole = null;
                try {
                    numericRole = sessionStorage.getItem('UserRolId') || sessionStorage.getItem('UserRoleId');
                } catch (e) { }

                if (numericRole) {
                    // 1 = Admin, 2 = Bayi, 3 = MM, 4 = Firma
                    var showForAdminOrBayi = (numericRole === '1' || numericRole === '2');
                    menuEl.style.display = showForAdminOrBayi ? '' : 'none';
                    console.log('[Layout] userFirmMenu numeric role kontrolü. roleId =', numericRole, 'görünür mü?', showForAdminOrBayi);
                    return;
                }

                // 2) Eski ts.auth tabanlı kontrol (fallback)
                var session = readSession();
                if (!session) {
                    return;
                }

                console.log('ts.auth session (menu için):', session);

                var ctxType = session.context && session.context.type;
                if (typeof ctxType === 'string') {
                    ctxType = ctxType.toLowerCase();
                }

                var roles = Array.isArray(session.roles)
                    ? session.roles.map(function (r) {
                        return (r || '').toString().toLowerCase();
                    })
                    : [];

                var isAdmin =
                    ctxType === 'admin' ||
                    roles.indexOf('admin') !== -1;

                var isBayi =
                    ctxType === 'bayi' ||
                    roles.indexOf('bayi') !== -1;

                var visible = (isAdmin || isBayi);
                menuEl.style.display = visible ? '' : 'none';

                console.log('[Layout] userFirmMenu ts.auth kontrolü. isAdmin=', isAdmin, 'isBayi=', isBayi, 'visible=', visible);
            }

            if (document.readyState === 'loading') {
                document.addEventListener('DOMContentLoaded', setupUserFirmMenu);
            } else {
                setupUserFirmMenu();
            }
        })();
    </script>
    <!-- ✅ DÜZENLEME BİTİŞ -->
    @RenderSection("Scripts", required: false)
</body>
</html>
